.App {
  height: 100vh;
  /* height: -webkit-fill-available; */
  background-color: #baadf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

/* --- Header style --- */
.header {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #4acfe0;
  color: rgb(10, 12, 80);
  justify-content: center;

}

.header h1 {
  font-size: 48px;
  text-align: center;
  margin: 0;
}

.header p {
  font-size: 1em;
  text-align: center;
  margin: 0;
  font-style: italic;
}

/* --- Chat Container style --- */
.chat-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

/* --- Chat Replies style --- */
.chat {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.chat a {
  color: #eeff00;
}

.chat-bubble-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.openai-bubble-container {
  background-color: #ae79d2;
}

.profile-picture {
  width: 30px;
  height: 30px;
}

.profile-picture img {
  border-radius: 5px;
}

.chat-bubble {
  padding: 1em 1em;
  max-width: 80%;
}

.user-bubble {
  background-color: #4a8abc;
  color: #ececf1;
  width: 100%;
}

.openai-bubble {
  align-self: flex-start;
  color: #d1d5db;
  width: 100%;
}
.openai-bubble .type-writer {
  margin: 0;
}

/* --- Input Area style --- */
.input-area {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #b544bb;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.input-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}

.input-area input {
  width: calc(60% - 2em);
  background-color: #fedaed;
  border: none;
  color: #000000;
  font-size: 1em;
  padding: 1em;
  border-radius: 5px;
}

.input-area button {
background: transparent;
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}

.input-area i {
  color: #edcded;
  margin: 0.5em;
  font-size: 1.5em;
  cursor: pointer;
}
